<ul class='nav nav-list'>
	<li class='nav-header'>
		<h3>My Lists <span><button class='btn' id='create_list' style='float:right; margin-top:0;'>add</button></span></h3>
	</li>
	<% lists.each do |list| %>
	<li class="divider"></li>
	<% if list.id != current_list.id %>
	   <li>
	<% else %>
	   <li class='active'>
    <% end%>
		 <a href='<%=default_home_path(user.id, list.id)%>'>
		<% if list.name == "Places I've Been To"%>
		 <i class="icon-flag"></i> 
		<% elsif list.name =="Places I Want To Go"%>
		  <i class="icon-bookmark"></i>
		<% elsif list.name =="Favorites"%>
		  <i class="icon-star"></i>
		<% else %>
		 <i class="icon-list-alt"></i>
		<% end %>
		<%= list.name %></a>
		<% if list.deletable == true %>
		<a href='<%= delete_list_path(list.id) %>' style="float:right;"><i class="icon-remove-sign" style='float:right; margin-top:-22px;' alt="remove list"></i></a>
		<% else %>
		<i class="icon-lock" style='float:right;'></i>
		<% end %>

	</li>
	<% end %>
</ul>

<div id="modal_div_create_lists"></div>
