<div id="tags_and_reviews">

<%= render :partial => "top_tags.html.erb", :locals=>{:store_review =>store_review}%>
<%= render :partial => "my_tags.html.erb", :locals=>{:store_user_review=>store_user_review, :store=>store }%>
</div>
