<ul class="nav nav-pills">
	<li class="dropdown active" id="menu1">
		<a class="dropdown-toggle" data-toggle="dropdown" data-target="<%=store.id%>" href="#menu1"> Options <b class="caret"></b> </a>
		<ul class="dropdown-menu">
			<li>
				<a href="#" id='add_to_list' class='store.<%=store.id%> list.<%=current_list.id%>'>Add to List</a>
			</li>
			<li>
				<a href="#">Remove From List</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">Add to Favorites</a>
			</li>
			<li>
				<a href="#">Bookmark</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">View Reviews</a>
			</li>
			<li>
				<a href="#">View Listers</a>
			</li>
		</ul>
	</li>
</ul>

<div id='modalinfo'></div>
