<div id='tags_search' class='span4'>
	<h3>Search Tags</h3>
	<div class='search_box'>
		<div id ='tag_input'>
			<%= text_field_tag 'tag_value', nil, :placeholder=>"Enter Tag"%>
		</div>
		<div id='approved_tags'></div>
	</div>
</div>

<div id='friends_search' class='span4'>
	<h3>Select Friends to Search</h3>
	<div class='search_box'>
		<% if friends %>
		<% friends.each do |friend| %>
		<label class='friend_selection checkbox'> <%= check_box_tag 'friend.'+friend.id.to_s %><%= friend.first_name+' '+friend.last_name %> </label>
		<% end %>
		<% end %>
	</div>
</div>

<div id='list_search' class='span4'>
	<h3>Select Lists</h3>
	<div class='search_box'></div>
</div>
