<div id='tags_search'>
	<h3>Search Tags</h3>
	<div class='search_box'></div>
</div>

<div id='friends_search'>
	<h3>Select Friends to Search</h3>
	<div class='search_box'>
		<% if friends %>
		<% friends.each do |friend| %>
		<div class='friend_selection'>
			<%= label_tag friend.first_name+' '+friend.last_name %>
			<%= check_box_tag 'friend.'+friend.id.to_s %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

<div id='list_search'>
	<h3>Select Lists</h3>
	<div class='search_box'></div>
</div>
