<div id='tags_search' class='search_box'>
	<h3>Search Tags</h3>
</div>

<div id='friends_search' class='search_box'>
	<h3>Select Friends to Search</h3>
	<% if friends %>
	   <% friends.each do |friend| %>
    	   <%= label_tag friend.first_name+' '+friend.last_name %>
	       <%= check_box_tag 'friend.'+friend.id.to_s %>
	   <% end %>
	<% end %>
</div>

<div id='list_search' class='search_box'>
	<h3>Select Lists</h3>
</div>

