<div class='row search_nav_bar'>
	<%= form_tag("/search", :method => "search") do %>
	<div class='span4 offset1'>
		<div class='basic_search'>
			<%= text_field_tag :searchfor, nil, :id => 'search_bar', :class=>"search_query", :placeholder=>'Search' %>
			<%= submit_tag "search", :id=>"search_icon", :class=>"btn"%>
		</div>
		<div id='advanced_search_icon'>
			<a href="#" >advanced search <%= image_tag "navigate_down.png", :height => '12', :width => '15' %></a>
		</div>
	</div>
	<div id='advanced_search_bar' class='hidden row'></div>
	<% end %>
</div>
