<div id='search_bar'>
<%= form_tag("/search", :method => "search") do %>
  <%= label_tag(:searchfor, "Search for:") %>
  <%= text_field_tag(:searchfor) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
