<div id ="search_results">
    <% if @view_data %>
        <div class='title'>
            <h2>search results</h2>
        </div>
        <%= render :partial => "stores/item_thumbnail", :collection => @view_data,  :locals => { :stores => @stores } || 'No stores in this list' %>
    <% end %>
</div>