<div class='padding-top30'>
	<div id='user_photo' class="span1">
		<ul class="thumbnails">
			<li class="span1">
				<div class="thumbnail">
					<img src="http://placekitten.com/200/200" alt="">
				</div>
			</li>
		</ul>
	</div>
	<div id='user_info' class='span2'>
		<p>
			<b>First Name:</b>
			<%= @user.first_name %>
		</p>

		<p>
			<b>Last Name</b>
			<%= @user.last_name %>
		</p>
		<p>
			<b>Email:</b>
			<%= @user.email %>
		</p>
	</div>
</div>
