<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>simple_search_test_input.html</title>
  </head>
  <body>
  <%= form_tag("test_simple_search", :method => "post") do %>
    <%= label_tag(:lbl1, "Input the serach string:") %>
    <%= text_field_tag(:search_query) %><br/>
    <%= submit_tag("Search") %>
  <% end %>
  </body>
</html>
