@import "compass";
@import "home";
@import "login";


/*--- Vars --*/

$border_color:  #686561;
$block_background_color: #c1bebc;
$title_underline_color: #686561;
$font-size: 14px;

/*--- MIXINS --*/
@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/*--- CSS --*/

html{
	background-image: url("background.png");
  font-family:"Helvetica", serif;
  font-size: $font-size;
}

body{
  margin: auto;
  min-width: 1020px;
  width:80%;
}

.hidden{
  display: none;
}

div{
  overflow: auto;
}

.search_bar {
  width: 300px;
  height: 20px;
  @include rounded();
}

#header{
	height: 100px;
	padding: 20px;
	
	.title {
		font-size: 42px;
		text-align: center;
	}	
}

#nav_bar{
  margin: 0px auto;
  text-align: center;
  font-size: $font-size+1;
  ul {
    list-style-type: none;
    margin: 0;
  }  
  li {
      display: inline;
      padding: 0px 100px;
  }
}

#top_nav{
  margin: 20px 0px;
  height: 202px;
  
  #advertisement{
    @include rounded(10px);
    border: 1px solid $border_color;
    height: 200px;
    float: right;
    width: 58%;
    min-width: 550px;
  }
  
  #user_block{
    @include rounded(10px);
    min-width: 390px;
    height: 200px;
    width: 40%;
    border: 1px solid $border_color;
    float:left;
    display: table;
    
    #user_photo{
      width: 150px;
      height: 150px;
      border: 1px solid black;
      float:left;
      margin: 24px;
    }
    
    #user_info{
      vertical-align: middle;
      display: table-cell;
    }
  }
}

#body_wrapper {
  clear: both;
  width: 100%;
  min-height:250px;
  overflow: auto;
  
  
  
  #left_nav {
    float: left;
    width: 230px;
    background-color: $block_background_color;
    border: {
      color: $border_color;
      style: solid;
      width: 1px;
    }
    .content {
      .list {
        padding: {
          top: 15px;
          bottom: 15px;
          left: 10px;
          right: 10px;
        }
      }
      .selected {
        background-color: yellow;
      }
    }
  }

  #main_nav {
    margin: {
      left: 250px;
    }
    min-width: 700px;
    min-height: 250px;
  }
  
  .title {
    height: 25px;
    padding: 10px;
    h2 {
      display: inline;
    }
    border-bottom: 1px solid $title_underline_color;
  }
}


.item_thumbnail{
	$width: 200px;
	$height: 250px;
	$margin: 20px;
	
	width: $width;
	height: $height;
	float: left;
	margin: 10px;
	
	border: {
		color:$border_color;
		width: 1px;
		style: solid;
	}
	text-align: center;
	.img{
		width: $width - $margin;
		height: $width - $margin;
		margin: ($margin)/2;
		border: solid 1px $border_color;
	}
	
	.been_to{
	  
	}
	
	.favorite{
	  
	}
}


#test{
	float: left;
	border: {
		color:black;
		width: 1px;
		style: solid;
	}
}

.right_button{
  float: right;
}

.center {
  width: 100%;
}

#search_bar{
  margin: 0px auto;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

