/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/



.border {
	border: 1px solid black;
}


/*_search.html.erb*/
div.basic_search{
	margin-top:10px;
	width: 300px;
	margin-left: auto;
	margin-right:auto;
}

div.basic_search input{
	margin-top:8px;
}

div#advanced_search_icon{
	margin:auto;
	width: 120px;
	padding-bottom:5px;
}

/*_advanced_search_bar.html.erb*/
div.search_box{
	height: 180px;
	border: 1px solid white;
}

div#tag_input{
	margin: 10px 10px;
}

label.friend_selection, label.list_selection{
	border-bottom: 1px solid darkGray;
	padding: 10px 40px;
}


/*user/show.html.erb*/
div#basic_information{
	overflow:hidden;
	height: 150px;
}

div#advertisement{
	height:200px;
	border-bottom: 1px solid black;
}

div#top_nav{
	height: 200px;
	overflow: hidden;
	margin-bottom: 30px;
}


/**/
div.padding-top30{
	padding-top:30px;
}
