/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "bootstrap";


/****/


body { 
  padding-top: 90px;
  padding-left: 20px;
  background: url("/assets/background.png");
}

.container {
  width: 960px;
  margin:top
}
/***/

.border {
	border: 1px solid black;
}

.highlight {
  background-color: orange;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

/*_search.html.erb*/
div.search_nav_bar{
  form {
    margin:0px;
  }
}

div.basic_search{
	margin-top:10px;
	width: 300px;
	margin-left: auto;
	margin-right:auto;
}

div.basic_search input{
	margin-top:8px;
}

div#advanced_search_icon{
	margin:auto;
	width: 120px;
	padding-bottom:5px;
}

div#advanced_search_bar{
  clear:both;
}

/*_advanced_search_bar.html.erb*/
div.search_box{
	height: 180px;
	border: 1px solid gray;
	overflow:scroll;
	
	label {
	  color:white;
	}
}

div#tags_search, div#friends_search, div #list_search{
  margin-bottom: 20px;
}

div#tag_input{
	margin: 10px 10px;
}

label.friend_selection, label.list_selection{
	border-bottom: 1px solid darkGray;
	padding: 10px 40px;
	margin-bottom: 0px;
}



/*user/show.html.erb*/
div#basic_information{
	overflow:hidden;
	height: 150px;
}

div#advertisement{
	height:200px;
	border-bottom: 1px solid black;
}

div#top_nav{
	height: 200px;
	overflow: hidden;
	margin-bottom: 30px;
}



div#main_nav{
  margin-left:0px;
  width: 720px;

  .title{
    padding-bottom:10px;
    margin-bottom: 5px;
    margin-left:20px;
    border-bottom: 1px solid darkGray;
    color: Gray;
  }
}

/*_approved_tag.html.erb*/
.approved_tag{
  float: left;
}

/*_item_thumbnail.html.erb*/
.item_thumbnail{
  
  .thumbnail{
    background-color: white;
    position: relative;
   
    .thumbnail-content{
      margin:auto;
      text-align: center;
      h4{
        padding-top: 8px;
      }
    }
    
    .option-bar{
      padding-left: 5px;
    }
    
    div.bookmark{
        position: absolute;
        right:10px;
        top:-5px;
        .bookmark-icon{
        }
    }
    
    div.favorite{
      position: absolute;
      .favorite-icon{
        margin-left: 5px;
        margin-top: 5px;
      }
    }
  }
}

/*_list.display.html.erb*/
#left_nav{
  li > i{
    margin-top: -20px;
  }
  // i.icon-remove-sign{
    // margin-top:-20px;
    // float: right;
  // }
  // a.icon-remove-href{
    // float:right;
    // // margin-top:-5px;
  // }
}

/**/
div.padding-top30{
	padding-top:30px;
}

/*stores/show.html.erb*/
.display-table{
  .display-row{
    clear: both;
    width: 100%;
    padding: 10px 0px;
    // margin-bottom: 10px;
    
    .display-label{
      float: left;
      width: 140px;
      padding-top: 5px;
      text-align: right;
    }
    .display-info{
      margin-left: 160px;
      width:70%;
      
      span{
        margin: 5px 0px;
      }
    }
  }
 
}


/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}
