<footer class="footer">
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
	</p>
</footer>