<div id="header">
   <a href= <% if session[:user_id] != nil && @user != nil%> '/users/<%= @user.id %>/' <%else%> '/' <%end%> class='brand'><%= image_tag "logo_white.png", :height=>"40"%></a>
</div>


