<ul class ='nav pull-right'>
	<li>
		<%= link_to "my page",  :action => "show", :controller => 'users', :id => @user.id %>
	</li>
	<li class="divider-vertical"></li>
	<li>
		<%= link_to "add restaurants", :action => 'new', :controller => 'stores', :id => @user.id%>
	</li>
	<li class="divider-vertical"></li>

	<li>
		<a href='#'>about us</a>
	</li>
</ul>
